<!-- 

  <div class="row">
    <div class="col">
        <div class="col"><div class="container">
            <div class="cellphone-container">    
                <div class="movie">       
                  <div class="movie-img"></div>
                  <div class="text-movie-cont">
                    <div class="mr-grid">
                      <div class="col1">
                        <h1>Interstellar</h1>
                        <ul class="movie-gen">
                          <li>PG-13  /</li>
                          <li>2h 49min  /</li>
                          <li>Adventure, Drama, Sci-Fi,</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid summary-row">
                      <div class="col2">
                        <h5>SUMMARY</h5>
                      </div>
                      <div class="col2">
                         <ul class="movie-likes">
                          <li><i class="material-icons"><i class="fa fa-smile-o" aria-hidden="true"></i>
                          </i>124</li>
                          <li><i class="material-icons"><i class="fa fa-frown-o" aria-hidden="true"></i>
                          </i>3</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid">
                      <div class="col1">
                        <p class="movie-description">A group of elderly people are giving interviews about having lived in a climate of crop blight and constant dust reminiscent of The Great 
                        Depression of the 1930's. The first one seen is an elderly woman stating her father was a farmer, but did not start out that way. </p>
                      </div>
                    </div>
                    <div class="mr-grid actors-row">
                      <div class="col1">
                        <p class="movie-actors">Matthew McConaughey, Anne Hathaway, Jessica Chastain</p>
                      </div>
                    </div>
                    <div class="mr-grid action-row">
                      <div class="col2"><div class="watch-btn"><h3><i class="material-icons"><i class="fa fa-play" aria-hidden="true"></i>
                      </i>Watch Trailer</h3></div>
                    </div>
                      <div class="col6 action-btn"><i class="fa fa-bookmark" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-share-alt" aria-hidden="true"></i>
        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div></div>
    </div>
    <div class="col">
        <div class="col"><div class="container">
            <div class="cellphone-container">    
                <div class="movie">       
                  <div class="movie-img"></div>
                  <div class="text-movie-cont">
                    <div class="mr-grid">
                      <div class="col1">
                        <h1>Interstellar</h1>
                        <ul class="movie-gen">
                          <li>PG-13  /</li>
                          <li>2h 49min  /</li>
                          <li>Adventure, Drama, Sci-Fi,</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid summary-row">
                      <div class="col2">
                        <h5>SUMMARY</h5>
                      </div>
                      <div class="col2">
                         <ul class="movie-likes">
                          <li><i class="material-icons"><i class="fa fa-smile-o" aria-hidden="true"></i>
                          </i>124</li>
                          <li><i class="material-icons"><i class="fa fa-frown-o" aria-hidden="true"></i>
                          </i>3</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid">
                      <div class="col1">
                        <p class="movie-description">A group of elderly people are giving interviews about having lived in a climate of crop blight and constant dust reminiscent of The Great 
                        Depression of the 1930's. The first one seen is an elderly woman stating her father was a farmer, but did not start out that way. </p>
                      </div>
                    </div>
                    <div class="mr-grid actors-row">
                      <div class="col1">
                        <p class="movie-actors">Matthew McConaughey, Anne Hathaway, Jessica Chastain</p>
                      </div>
                    </div>
                    <div class="mr-grid action-row">
                      <div class="col2"><div class="watch-btn"><h3><i class="material-icons"><i class="fa fa-play" aria-hidden="true"></i>
                      </i>Watch Trailer</h3></div>
                    </div>
                      <div class="col6 action-btn"><i class="fa fa-bookmark" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-share-alt" aria-hidden="true"></i>
        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div></div>
    </div>
    <div class="col">
        <div class="col"><div class="container">
            <div class="cellphone-container">    
                <div class="movie">       
                  <div class="movie-img"></div>
                  <div class="text-movie-cont">
                    <div class="mr-grid">
                      <div class="col1">
                        <h1>Interstellar</h1>
                        <ul class="movie-gen">
                          <li>PG-13  /</li>
                          <li>2h 49min  /</li>
                          <li>Adventure, Drama, Sci-Fi,</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid summary-row">
                      <div class="col2">
                        <h5>SUMMARY</h5>
                      </div>
                      <div class="col2">
                         <ul class="movie-likes">
                          <li><i class="material-icons"><i class="fa fa-smile-o" aria-hidden="true"></i>
                          </i>124</li>
                          <li><i class="material-icons"><i class="fa fa-frown-o" aria-hidden="true"></i>
                          </i>3</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid">
                      <div class="col1">
                        <p class="movie-description">A group of elderly people are giving interviews about having lived in a climate of crop blight and constant dust reminiscent of The Great 
                        Depression of the 1930's. The first one seen is an elderly woman stating her father was a farmer, but did not start out that way. </p>
                      </div>
                    </div>
                    <div class="mr-grid actors-row">
                      <div class="col1">
                        <p class="movie-actors">Matthew McConaughey, Anne Hathaway, Jessica Chastain</p>
                      </div>
                    </div>
                    <div class="mr-grid action-row">
                      <div class="col2"><div class="watch-btn"><h3><i class="material-icons"><i class="fa fa-play" aria-hidden="true"></i>
                      </i>Watch Trailer</h3></div>
                    </div>
                      <div class="col6 action-btn"><i class="fa fa-bookmark" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-share-alt" aria-hidden="true"></i>
        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div></div>
    </div>
    <div class="col">
        <div class="col"><div class="container">
            <div class="cellphone-container">    
                <div class="movie">       
                  <div class="movie-img"></div>
                  <div class="text-movie-cont">
                    <div class="mr-grid">
                      <div class="col1">
                        <h1>Interstellar</h1>
                        <ul class="movie-gen">
                          <li>PG-13  /</li>
                          <li>2h 49min  /</li>
                          <li>Adventure, Drama, Sci-Fi,</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid summary-row">
                      <div class="col2">
                        <h5>SUMMARY</h5>
                      </div>
                      <div class="col2">
                         <ul class="movie-likes">
                          <li><i class="material-icons"><i class="fa fa-smile-o" aria-hidden="true"></i>
                          </i>124</li>
                          <li><i class="material-icons"><i class="fa fa-frown-o" aria-hidden="true"></i>
                          </i>3</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid">
                      <div class="col1">
                        <p class="movie-description">A group of elderly people are giving interviews about having lived in a climate of crop blight and constant dust reminiscent of The Great 
                        Depression of the 1930's. The first one seen is an elderly woman stating her father was a farmer, but did not start out that way. </p>
                      </div>
                    </div>
                    <div class="mr-grid actors-row">
                      <div class="col1">
                        <p class="movie-actors">Matthew McConaughey, Anne Hathaway, Jessica Chastain</p>
                      </div>
                    </div>
                    <div class="mr-grid action-row">
                      <div class="col2"><div class="watch-btn"><h3><i class="material-icons"><i class="fa fa-play" aria-hidden="true"></i>
                      </i>Watch Trailer</h3></div>
                    </div>
                      <div class="col6 action-btn"><i class="fa fa-bookmark" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-share-alt" aria-hidden="true"></i>
        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div></div>
    </div>
 </div>


 <div class="row">
    <div class="col">
        <div class="col"><div class="container">
            <div class="cellphone-container">    
                <div class="movie">       
                  <div class="movie-img"></div>
                  <div class="text-movie-cont">
                    <div class="mr-grid">
                      <div class="col1">
                        <h1>Interstellar</h1>
                        <ul class="movie-gen">
                          <li>PG-13  /</li>
                          <li>2h 49min  /</li>
                          <li>Adventure, Drama, Sci-Fi,</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid summary-row">
                      <div class="col2">
                        <h5>SUMMARY</h5>
                      </div>
                      <div class="col2">
                         <ul class="movie-likes">
                          <li><i class="material-icons"><i class="fa fa-smile-o" aria-hidden="true"></i>
                          </i>124</li>
                          <li><i class="material-icons"><i class="fa fa-frown-o" aria-hidden="true"></i>
                          </i>3</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid">
                      <div class="col1">
                        <p class="movie-description">A group of elderly people are giving interviews about having lived in a climate of crop blight and constant dust reminiscent of The Great 
                        Depression of the 1930's. The first one seen is an elderly woman stating her father was a farmer, but did not start out that way. </p>
                      </div>
                    </div>
                    <div class="mr-grid actors-row">
                      <div class="col1">
                        <p class="movie-actors">Matthew McConaughey, Anne Hathaway, Jessica Chastain</p>
                      </div>
                    </div>
                    <div class="mr-grid action-row">
                      <div class="col2"><div class="watch-btn"><h3><i class="material-icons"><i class="fa fa-play" aria-hidden="true"></i>
                      </i>Watch Trailer</h3></div>
                    </div>
                      <div class="col6 action-btn"><i class="fa fa-bookmark" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-share-alt" aria-hidden="true"></i>
        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div></div>
    </div>
    <div class="col">
        <div class="col"><div class="container">
            <div class="cellphone-container">    
                <div class="movie">       
                  <div class="movie-img"></div>
                  <div class="text-movie-cont">
                    <div class="mr-grid">
                      <div class="col1">
                        <h1>Interstellar</h1>
                        <ul class="movie-gen">
                          <li>PG-13  /</li>
                          <li>2h 49min  /</li>
                          <li>Adventure, Drama, Sci-Fi,</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid summary-row">
                      <div class="col2">
                        <h5>SUMMARY</h5>
                      </div>
                      <div class="col2">
                         <ul class="movie-likes">
                          <li><i class="material-icons"><i class="fa fa-smile-o" aria-hidden="true"></i>
                          </i>124</li>
                          <li><i class="material-icons"><i class="fa fa-frown-o" aria-hidden="true"></i>
                          </i>3</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid">
                      <div class="col1">
                        <p class="movie-description">A group of elderly people are giving interviews about having lived in a climate of crop blight and constant dust reminiscent of The Great 
                        Depression of the 1930's. The first one seen is an elderly woman stating her father was a farmer, but did not start out that way. </p>
                      </div>
                    </div>
                    <div class="mr-grid actors-row">
                      <div class="col1">
                        <p class="movie-actors">Matthew McConaughey, Anne Hathaway, Jessica Chastain</p>
                      </div>
                    </div>
                    <div class="mr-grid action-row">
                      <div class="col2"><div class="watch-btn"><h3><i class="material-icons"><i class="fa fa-play" aria-hidden="true"></i>
                      </i>Watch Trailer</h3></div>
                    </div>
                      <div class="col6 action-btn"><i class="fa fa-bookmark" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-share-alt" aria-hidden="true"></i>
        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div></div>
    </div>
    <div class="col">
        <div class="col"><div class="container">
            <div class="cellphone-container">    
                <div class="movie">       
                  <div class="movie-img"></div>
                  <div class="text-movie-cont">
                    <div class="mr-grid">
                      <div class="col1">
                        <h1>Interstellar</h1>
                        <ul class="movie-gen">
                          <li>PG-13  /</li>
                          <li>2h 49min  /</li>
                          <li>Adventure, Drama, Sci-Fi,</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid summary-row">
                      <div class="col2">
                        <h5>SUMMARY</h5>
                      </div>
                      <div class="col2">
                         <ul class="movie-likes">
                          <li><i class="material-icons"><i class="fa fa-smile-o" aria-hidden="true"></i>
                          </i>124</li>
                          <li><i class="material-icons"><i class="fa fa-frown-o" aria-hidden="true"></i>
                          </i>3</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid">
                      <div class="col1">
                        <p class="movie-description">A group of elderly people are giving interviews about having lived in a climate of crop blight and constant dust reminiscent of The Great 
                        Depression of the 1930's. The first one seen is an elderly woman stating her father was a farmer, but did not start out that way. </p>
                      </div>
                    </div>
                    <div class="mr-grid actors-row">
                      <div class="col1">
                        <p class="movie-actors">Matthew McConaughey, Anne Hathaway, Jessica Chastain</p>
                      </div>
                    </div>
                    <div class="mr-grid action-row">
                      <div class="col2"><div class="watch-btn"><h3><i class="material-icons"><i class="fa fa-play" aria-hidden="true"></i>
                      </i>Watch Trailer</h3></div>
                    </div>
                      <div class="col6 action-btn"><i class="fa fa-bookmark" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-share-alt" aria-hidden="true"></i>
        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div></div>
    </div>
    <div class="col">
        <div class="col"><div class="container">
            <div class="cellphone-container">    
                <div class="movie">       
                  <div class="movie-img"></div>
                  <div class="text-movie-cont">
                    <div class="mr-grid">
                      <div class="col1">
                        <h1>Interstellar</h1>
                        <ul class="movie-gen">
                          <li>PG-13  /</li>
                          <li>2h 49min  /</li>
                          <li>Adventure, Drama, Sci-Fi,</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid summary-row">
                      <div class="col2">
                        <h5>SUMMARY</h5>
                      </div>
                      <div class="col2">
                         <ul class="movie-likes">
                          <li><i class="material-icons"><i class="fa fa-smile-o" aria-hidden="true"></i>
                          </i>124</li>
                          <li><i class="material-icons"><i class="fa fa-frown-o" aria-hidden="true"></i>
                          </i>3</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mr-grid">
                      <div class="col1">
                        <p class="movie-description">A group of elderly people are giving interviews about having lived in a climate of crop blight and constant dust reminiscent of The Great 
                        Depression of the 1930's. The first one seen is an elderly woman stating her father was a farmer, but did not start out that way. </p>
                      </div>
                    </div>
                    <div class="mr-grid actors-row">
                      <div class="col1">
                        <p class="movie-actors">Matthew McConaughey, Anne Hathaway, Jessica Chastain</p>
                      </div>
                    </div>
                    <div class="mr-grid action-row">
                      <div class="col2"><div class="watch-btn"><h3><i class="material-icons"><i class="fa fa-play" aria-hidden="true"></i>
                      </i>Watch Trailer</h3></div>
                    </div>
                      <div class="col6 action-btn"><i class="fa fa-bookmark" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        
                      </div>
                      <div class="col6 action-btn"><i class="fa fa-share-alt" aria-hidden="true"></i>
        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div></div>
    </div>
 </div> -->
