<br> <h2 style="border-left: thick solid #ff0000;color: black;margin-left: 30px;">&ensp;Upcoming Shows</h2><br>
<div style="margin-left: 16px;" class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="flip">
            <div class="front" style="background-image: url(https://i.egycdn.com/pic/WmFwZndlY21UYm12dmNtYkVjY05FbXpQbXBUYm1F.jpg)">
            </div>
            <h4>Army of anchers</h4>
            <p style="font-size: 1.1rem;color: gray;font-family: 'Raleway', sans-serif;">2018 <span style="color: red;">|</span> USA <span style="color: red;">|</span> action</p>
            <i style="color: #f9be30;font-size: 1.4rem;" class="fa fa-star" aria-hidden="true"></i><i  style="color: #f9be30;font-size: 1.4rem"  class="fa fa-star" aria-hidden="true"></i><i  style="color: #f9be30;font-size: 1.4rem"  class="fa fa-star" aria-hidden="true"></i><i  style="color: #f9be30;font-size: 1.4rem"  class="fa fa-star" aria-hidden="true"></i><i style="font-size: 1.4rem" class="fa fa-star" aria-hidden="true"></i>
            <div class="back">
                <p style="font-family: 'Roboto', sans-serif;" >Good tools make application development quicker and easier to maintain than if you did everything by hand.</p><br>
               <input style="text-align: center;" type="submit" value="Play now" class="btn btn-primary">
            </div>
        </div></div>        
    </div>
    </div>

