<br> <h2 style="border-left: thick solid #ff0000;color: black;margin-left: 29px">&ensp;Suggested Shows</h2><br>
  <div style="margin-left: 23px;" class="flip flip-vertical">
    <div  class="front" style="background-image: url(https://i.egycdn.com/pic/WmFwZndlY21ZbW1FbW1tdm1qRWN4bWJ4UHdUbW1FbXY.jpg)">
       <h1 class="text-shadow">FOREST</h1>
       <p>sss</p>
    </div>
    <div style="background-image:url(../../assets/images/1.m4v)" class="back">
       <h2>Angular</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
       <span>action | </span>    
       <span>3.1 | </span>    
       <span> + | </span> 
    </div>
</div>
