
  <section class="LandingPG" id="home">
    <header>
      <a href="#" class="logo">Movies</a>
      <ul class="nav">
        <li><a href="#">Home </a></li>
        <li><a href="#">All Movies</a></li>
        <li><a href="#">Tv Shows</a></li>
        <li><a (click)="gotobest()">Best Ratings</a></li>
        <li><a href="#" >login</a></li>
        <li><a href="#"><span>Contact Us</span></a></li>
      </ul>
    </header>
    <div class="content">
      <div class="text-area">
        <h1 class="text-area">money heist</h1>
        <h4 class="text-area">Drama  Horror  Action  Family  - 2h 28m</h4>
        <h3 class="text-area" style="color: #487EFC;">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </h3>
        <h2 style="line-height: 2;font-family: 'Roboto', sans-serif;" class="text-area"> 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.<br><br></h2>
        <a href="#" class="btn"> Play Now</a>
      </div>
    </div>
  </section>
